.Home {
    margin-left: 20px;
    margin-top: 150px;
    border: solid 1px;
   width: 300px;
   padding-left: 70px;
}       

.display-watch {
    display: inline-block;
    padding-right: 40px;
    font-size: larger;
}

.display-ownership {
    display: inline-block;
    font-size: larger;
}
